mixin popularItem(title, image)
    .popular-item
        .popular-image
            .popular-overlay
            img(src=image , alt="unsplash").popular-img
            span.popular-label Must See
        .popular-content
            span.popular-time Sep 28 10:00 AM - 1:00 PM
            h3.popular-title= title 
            .popular-review
                img(src="./src/img/Shape.png" alt="star")
                span 4.8 (12 reviews)

mixin tourItem(image, title, duration, price)
    .tour-item
        .tour-top 
            img.tour-img(src=image, alt="")
            .tour-price 
                span From 40$
        .tour-content 
            h2.tour-title=title  
            .tour-review 
                .tour-rating  
                    img.tour-star(src="./src/img/Shape.png", alt="")
                    span.tour-count 4.8 (20 reviews)
                .tour-duration 
                    span Duration : #{duration}
            a.tour-link(href="#!" target="_blank") Tours Price $#{price}

mixin popularItem()
    .popular-item 
        .popular-image
            img.popular-img(src="https://source.unsplash.com/random", alt="random")
            span.popular-label Must see 
        .popular-content 
            span.popular-time Sep 28 10:00 AM - 1:00 PM
            h3.popular-title The Grand Balet
            .popular-review 
                img(src="./src/img/Shape.png", alt="").popular-star
                span.popular-count 4.8 (12 reviews)

