mixin tourItem(image, title, duration, price)
    .tour-item
        .tour-top 
            img.tour-img(src=image, alt="")
            .tour-price 
                span From 40$
        .tour-content 
            h2.tour-title=title  
            .tour-review 
                .tour-rating  
                    img.tour-star(src="./src/img/Shape.png", alt="")
                    span.tour-count 4.8 (20 reviews)
                .tour-duration 
                    span Duration : #{duration}
            a.tour-link(href="#!" target="_blank") Tours Price $#{price}

mixin popularItem(title)
    .popular-item 
        .popular-image
            img.popular-img(src="https://source.unsplash.com/random", alt="random")
            span.popular-label Must see 
        .popular-content 
            span.popular-time Sep 28 10:00 AM - 1:00 PM
            h3.popular-title=title 
            .popular-review 
                img(src="./src/img/Shape.png", alt="").popular-star
                span.popular-count 4.8 (12 reviews)

mixin gemItem()
    each val in ["https://images.pexels.com/photos/605494/pexels-photo-605494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/14893338/pexels-photo-14893338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/6195044/pexels-photo-6195044.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/15532728/pexels-photo-15532728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/13933559/pexels-photo-13933559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"]
        .gem-item 
            img.img-gem(src=val, alt="")

mixin diamondItem(title, time)
    each val in ["https://images.pexels.com/photos/1743165/pexels-photo-1743165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/2896668/pexels-photo-2896668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"]
        .diamond-item 
            .diamond-wrapper 
                img.img-diamond(src=val, alt="")
                .diamond-overlay 
                .diamond-desc 
                    p.diamond-title=title 
                    span.diamond-time=time

mixin buttonTravel()
    a.btn-travel(href="#!") Explore All

mixin footerItem(header)
    h4.footer-header=header 
    ul.footer-list 
        each val in ["Trip Planner", "Trip Guide", "Trip Planing","Tour Package","Tour advice"]
            li.footer-item 
                a.footer-link(href="#!")=val 
